@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");

body{
    margin:0;
    font-family: "Montserrat", sans-serif;
}

a {
    text-decoration: none;
}
ul {
    list-style-type: none;
    float: right;
}
ul li {
    display: inline-block;

}
ul li a {
    color:#fff;
    padding:15px;
}

#logo{
    padding:15px;
    margin-left: 15px;
    background-color: #f3f1c7;
    color:#298383;
    text-align: center;
    font-weight: bold;
    display: inline-block;
}

header {
    background-color: #41C7C7;
    display: grid;
    grid-template-columns: [logo-start] fit-content(20%) [nav-start] auto [nav-end];
}